<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intital-scale=1.0">
    <title>eTickets</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <script src="/js/main.js"></script>
    <script src="/js/app.js"></script>
</head>
<body>
<header class="shadow">
    <a href="#" class="logo">
        <i class="bx bxs-movie"></i>eTickets
    </a>
    <div class="bx bx-menu" id="menu-icon"></div>
    <ul class="navbar">
        <li>
            <a href="/index">Home</a>
            <a href="/movies">Movies</a>
            <a href="/actor" class="home-active">Actors</a>
            <a href="/producer">Producers</a>
            <a href="/cinema">Cinemas</a>
        </li>
    </ul>
</header>
<section class="actor" id="actor">
    <div class="row">
        <table class="table">
            <thead style="border-bottom:1px solid #e0e0d1">
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Name
                </th>
                <th>
                    Biography
                </th>
                <th>
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            {{#actors}}
                <tr style="border-bottom:1px solid #e0e0d1">
                    <td>
                        <img class="rounded-circle" src="{{profilepictureurl}}" style="clip-path:circle()">
                    </td>
                    <td>
                        {{fullname}}
                    </td>
                    <td>
                        {{bio}}
                    </td>
                    <td>
                        <a href="/Domain/actors/{{id}}/update" class="btn">
                            <i class="bx bx-edit">
                                Edit
                            </i>
                        </a>
                        <a href="/Domain/actors/{{id}}/remove" class="btn">
                            <i class="bx bxs-trash">
                                Delete
                            </i>
                        </a>
                    </td>
                </tr>
            {{/actors}}
            </tbody>
        </table>
    </div>
</section>
<!--Subscribe-->
<section class="newsletter" id="home">
    <h2>
        Add New Actor
        <br>
        <button class="btn btn-success" id="addActors" onclick="addActors()">Add</button>
    </h2>
</section>
<!--Footer-->
<section class="footer">
    <a href="#" class="logo">
        <i class="bx bxs-movie"></i>eTickets
    </a>
    <div class="social">
        <a href="https://github.com/kljaja92/movie-store">
            <i class="bx bxl-github"></i>
        </a>
    </div>
</section>
<!--Copyright-->
<div class="copyright">
    <p>&#169; eTickets</p>
</div>
<!--Swiper JS-->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
</body>
</html>