<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intital-scale=1.0">
    <title>eTickets</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <script src="/js/main.js"></script>
    <script src="/js/app.js"></script>
</head>

<body>
<header class="shadow">
    <a href="#" class="logo">
        <i class="bx bxs-movie"></i>eTickets
    </a>
    <div class="bx bx-menu" id="menu-icon"></div>
    <ul class="navbar">
        <li>
            <a href="/index">Home</a>
            <a href="/movies">Movies</a>
            <a href="/actor" class="home-active">Actors</a>
            <a href="/producer">Producers</a>
            <a href="/cinema">Cinemas</a>
        </li>
    </ul>
</header>
<section class="actor"
</body>