<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eTickets</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body style="background:black;justify-content:center;">
<div class="title" style="text-align:center; color:white;padding:10px">
    <h1>Update Cinema</h1>
    <form action="/Domain/cinemas/{{cinemas.id}}/update" method="post">
        <div class="form-group text-center">
            <label for="model text-center" style="font-size:24px"><b>Image URL</b><br></label>
            <input type="text" class="form-control" name="profilepictureurl" style="width: 40%;height: 34px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;"
                   value="{{cinemas.logo}}"/>
        </div>
        <div class="form-group text-center">
            <label for="year" style="font-size:24px"><b>Name</b><br></label>
            <input type="text" class="form-control" name="fullname" style="width: 40%;height: 34px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;"
                   value="{{cinemas.name}}"/>
        </div>
        <div class="form-group text-center">
            <label for="horsepower" style="font-size:24px"><b>Biography</b><br></label>
            <input type="text" class="form-control" name="bio" style="width: 40%;height: 34px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;"
                   value="{{cinemas.description}}"/>
        </div>
        <button type="submit" class="btn btn-danger" style="padding: 0.6rem 0.7rem;background: red;color: white;font-weight: 400;border-radius: 0.5rem;float:right;margin-right:30%;">Save update</button>
    </form>
</div>
</body>
</html>