<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eTickets</title>
    <link href="">
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
</head>
<body>
<header class="shadow">
    <a href="#" class="logo">
        <i class="bx bxs-movie"></i>eTickets
    </a>
    <div class="bx bx-menu" id="menu-icon"></div>
    <ul class="navbar">
        <li>
            <a href="/index" class="home-active">Home</a>
            <a href="/movies">Movies</a>
            <a href="/actor">Actors</a>
            <a href="/producer">Producers</a>
            <a href="/cinema">Cinemas</a>
        </li>
    </ul>
</header>
<!--Home-->
<section class="home swiper" id="home" >
    <div class="swiper-wrapper">
        <div class="swiper-slide conatiner">
            <img src="resources/img/home1.jpg" alt="">
            <div class="home-text">
                <span>Marvel Universe</span>
                <h1>Venom: Let There <br>  Be Carnage</h1>
                <a href="#" class="btn">Book Now</a>
                <a href="#" class="play">
                    <i class="bx bx-play"></i>
                </a>
            </div>
        </div>
        <!--Box 2-->
        <div class="swiper-slide conatiner">
            <img src="resources/img/home2.jpg" alt="">
            <div class="home-text">
                <span>Marvel Universe</span>
                <h1>Venom: Let There <br>  Be Carnage</h1>
                <a href="#" class="btn">Book Now</a>
                <a href="#" class="play">
                    <i class="bx bx-play"></i>
                </a>
            </div>
        </div>
        <!--Box 3-->
        <div class="swiper-slide conatiner">
            <img src="resources/img/home3.jpg" alt="">
            <div class="home-text">
                <span>Marvel Universe</span>
                <h1>Spider-Man: <br> Far from Home</h1>
                <a href="#" class="btn">Book Now</a>
                <a href="#" class="play">
                    <i class='bx bx-play'></i>
                </a>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</section>
<!--Movies-->
<section class="home" id="home">
    <h2 class="heading">Opening This Year</h2>
    <!--Movies Container -->
    <div class="movies-container">
        <!--Box 1-->
        <div class="box">
            <div class="box-img">
                <img alt src="resources/img/m1.jpg">
            </div>
            <h3>Venom</h3>
            <span>120min | Action</span>
        </div>
        <!--Box 2-->
        <div class="box">
            <div class="box-img">
                <img alt src="resources/img/m2.jpg">
            </div>
            <h3>Dunkerk</h3>
            <span>120min | Adventure</span>
        </div>
        <!--Box 3-->
        <div class="box">
            <div class="box-img">
                <img alt src="resources/img/m3.jpg">
            </div>
            <h3>Batman vs Superman</h3>
            <span>120min | Thriller</span>
        </div>
        <!--Box 4-->
        <div class="box">
            <div class="box-img">
                <img alt src="resources/img/m4.jpg">
            </div>
            <h3>John Wick</h3>
            <span>120min | Adventure</span>
        </div>
        <!--Box 5-->
        <div class="box">
            <div class="box-img">
                <img src="resources/img/m5.jpg" alt="">
            </div>
            <h3>Aquaman</h3>
            <span>120min | Action</span>
        </div>
        <!--Box 6-->
        <div class="box">
            <div class="box-img">
                <img alt src="resources/img/m6.jpg">
            </div>
            <h3>Black Panther</h3>
            <span>120min | Thriller</span>
        </div>
        <!--Box 7-->
        <div class="box">
            <div class="box-img">
                <img alt src="resources/img/m7.jpg">
            </div>
            <h3>Thor</h3>
            <span>120min | Adventure</span>
        </div>
        <!--Box 8-->
        <div class="box">
            <div class="box-img">
                <img alt src="resources/img/m8.png">
            </div>
            <h3>Bumblebee</h3>
            <span>120min | Thriller</span>
        </div>
        <!--Box 9-->
        <div class="box">
            <div class="box-img">
                <img alt src="resources/img/m9.jpg">
            </div>
            <h3>Mortal Engines</h3>
            <span>120min | Action</span>
        </div>
        <!--Box 10-->
        <div class="box">
            <div class="box-img">
                <img alt src="resources/img/m10.jpg">
            </div>
            <h3>UnderWorld Blood Wars</h3>
            <span>120min | Action</span>
        </div>
    </div>
</section>
<!--Subscribe-->
<section class="newsletter" id="home">
    <h2>Subscribe To Get <br> Newsletter</h2>
    <form action="">
        <input type="email" class="email" placeholder=" Enter Email..." required>
        <input type="submit" value="Subscribe" class="btn">
    </form>
</section>
<!--Footer-->
<section class="footer">
    <a href="#" class="logo">
        <i class="bx bxs-movie"></i> eTickets
    </a>
    <div class="social">
        <a href="https://github.com/kljaja92/movie-store"><i class="bx bxl-github"></i></a>
    </div>
</section>
<!--Copyright-->
<div class="copyright">
    <p>&#169; eTickets</p>
</div>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<!--Link to Custom JS-->
<script src="../js/main.js"></script>
</body>
</html>